/*
* My Custom CSS
*/

/* --------------------------------------
   Global Styles
   -------------------------------------- */
img {
    max-width: 100%;
}


/* --------------------------------------
   Layout
   -------------------------------------- */

.section-content {
    padding: 5rem 0;
}

/* Landscape Section */

#landscape, #traffic {
   background: url(img/tile.jpg) repeat;
}

.homeGallery .thumb {
   padding:0 !important;
}

.thumbnail img:hover {
   transform: scale(1.02);
   box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

/* Treatments Section */
#treatments {
   background-color: #d1b387;
}

/* Latest News Section */
#latestNews {
   border-top: 1px solid #ddd;
}

/* How to Contact Section */
#howtoContact {
   background:url(img/mic.jpg) no-repeat;
   background-size: cover;
}

.contact {
   background:rgba(0, 0, 0, 0.4);
}

/* Footer */
#footer-main {
   background-color: #222;
}

/* Socket */
#socket {
   background-color: #333;
}

/* Blog Page */
#jumbotron {
   padding-top: 6rem;
   padding-bottom: 6rem;
   background-color: #fff;
   background: url(img/banjo.jpg) no-repeat;
   background-position: bottom center;
   background-size: cover;
}

#jumbotron .container {
   max-width: 40rem;
   background: rgba(255,255,255,0.2);
   padding: 2rem;
}

#jumbotron p {
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brnad img {
   margin-right: 20px;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */
.carousel-item img {
   width: 100%;
   height: 100%;
}



/* --------------------------------------
   Media Queries
   -------------------------------------- */
/* Portrait & landscape phone */
@media (max-width: 480px) {
   
   .carousel-caption p {
      font-size: 12px;
   }
   
   .carousel-caption h3 {
      font-size: 18px;
   }

   .homeGallery {
      margin-top: 2rem;
   }

   .card {
      margin: 2rem;
   }

   img.profile-image {
      width:250px;
      height: 250px;
   }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
   
   .carousel-caption p {
      font-size: 16px;
   }
   
   .carousel-caption h3 {
      font-size: 22px;
   }

   .homeGallery {
      margin-top: 2rem;
   }

}

/* Landscape tablet to portrait small desktop */
@media (max-width: 991px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}


/* --------------------------------------
   Etc
   -------------------------------------- */

