/*
* My Custom CSS
*/

/* --------------------------------------
   Global Styles
   -------------------------------------- */
img {
    max-width: 100%;
}


/* --------------------------------------
   Layout
   -------------------------------------- */

.section-content {
    padding: 4rem 0;
}

/* Footer */
#footer-main {
   background-color: #222;
}

/* Socket */
#socket {
   background-color: #333;
}

/* == Home Page == */

/* Landscape Section */

#landscape, #traffic {
   background: url(img/tile.jpg) repeat;
}

.homeGallery .thumb {
   padding:0 !important;
}

.thumbnail img:hover {
   transform: scale(1.02);
   box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

/* Treatments Section */
#treatments {
   background-color: #d1b387;
}

/* Latest News Section */
#latestNews {
   border-top: 1px solid #ddd;
}

/* How to Contact Section */
#howtoContact {
   background:url(img/mic.jpg) no-repeat;
   background-size: cover;
}

.contact {
   background:rgba(0, 0, 0, 0.4);
}

/* == Blog Page == */
#jumbotron {
   padding-top: 6rem;
   padding-bottom: 6rem;
   background-color: #fff;
   background: url(img/banjo.jpg) no-repeat;
   background-position: bottom center;
   background-size: cover;
}

#jumbotron .container {
   max-width: 40rem;
   background: rgba(255,255,255,0.2);
   padding: 2rem;
}

#jumbotron p {
   text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* == Page == */
.cover-bg {
   position: relative;
}
.cover-bg::after {
   display: block;
   position: relative;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
   margin-top: -150px;
   height: 150px;
   width: 100%;
   content: '';
}
.cover-txt {
   position: absolute;
   bottom: 40px;
   left: 60px;
}

/* == Post == */

.post-meta {
   clear: both;
   overflow: hidden;
   margin: 20px 0;
   padding: 5px 0;
   border-top: 1px solid #e7e6e6;
   border-bottom: 1px solid #e7e6e6;
}

.author-box {
   padding: 3rem;
}


/* == Widget == */

.widget {
   /*padding: 10px;*/
   position: relative;
   margin-bottom: 2.5rem;
}

.widget h4 {
   margin: 0 0 10px;
   padding: 0 0 10px;
   border-bottom: solid 1px #ddd;
}

.widget ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.widget ul li {
   margin: 0 0 5px;
}

.widget ul li:hover {
   position: relative;
   left: 1px;
}

/* Tab */
.tab-pane .single-post {
   min-height: 5rem;
   border-bottom: 1px solid #e0e0e0;
   margin-bottom: 1rem;
}

.tab-pane .single-post:last-of-type {
   border-bottom: none;
}

.post-data p,
.post-data h6 {
   font-size: 85%;
}

/* == Social Icons == */

.badge.social {
   background: #ccc;
   font-size: 24px;
   height: 40px;
   width: 40px;
   text-align: center;
   line-height: 42px;
   margin: 0 5px 20px 0;
   padding: 0;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   border-radius: 50px;
   color: white;
}

.badge.social.twitter:hover {
   background: #55acee;
}

.badge.social.facebook:hover {
   background: #3b5998;
}

.badge.social.gplus:hover {
   background: #db4b39;
}

.badge.social.pinterest:hover {
   background: #bd081b;
}

.badge.social.instagram:hover {
   background: #bf35e2;
}

div.comment {
   width: 100%;
   height: 100px;
   border:1px dotted red;
}

/* == Program Page == */
.display-2 {
   font-size: 7rem;
   letter-spacing: -.5rem;
   color: #9c27b0;
}

.currency {
   font-size: 2.75rem;
   position: relative;
   font-weight: 400;
   top: -45px;
   letter-spacing: 0px;
}

.period {
   font-size: 1rem;
   color: #808080;
   letter-spacing: 0px;
}

/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
.navbar-brnad img {
   margin-right: 20px;
}


/* --------------------------------------
   Carousel
   -------------------------------------- */
.carousel-item img {
   width: 100%;
   height: 100%;
}



/* --------------------------------------
   Media Queries
   -------------------------------------- */
/* == Portrait & landscape phone == */
@media (max-width: 480px) {
   
   .carousel-caption p {
      font-size: 12px;
   }
   
   .carousel-caption h3 {
      font-size: 18px;
   }

   .homeGallery {
      margin-top: 2rem;
   }

   .card {
      margin: 2rem;
   }

   img.profile-image {
      width:250px;
      height: 250px;
   }

}

@media (min-width: 576px) {

   .tx-expenses {
      padding: 1.5rem;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      border-width: .2rem;
   }

}


/* == Landscape phone to portrait tablet == */
@media (max-width: 768px) {
   
   .carousel-caption p {
      font-size: 16px;
   }
   
   .carousel-caption h3 {
      font-size: 22px;
   }

   .homeGallery {
      margin-top: 2rem;
   }

}

/* == Landscape tablet to portrait small desktop == */
@media (max-width: 991px) {

}

/* == Large desktop == */
@media (min-width: 1200px) {

}


/* --------------------------------------
   Etc
   -------------------------------------- */
small.excerpt {
   height: 5rem;
}

.text-box {
   box-shadow: 0 0 8px rgba(0, 0, 0,.18), 0 8px 16px rgba(0, 0, 0,.36);
}